@charset "UTF-8";

#corpo_login {
    width: 275px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 30px #777;
    border-radius: 15px;
}

form.formulario_login {
    width: 275px;
    font-size: 20px;
}

td.table_td {
    padding: 5px;
    margin: 5px 0;
}

div.div_btn {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

input.input-text_login {
    padding: 1px 4px;
    border-radius: 8px;
    font-size: 20px;
}

select.select_login {
    padding: 1px 4px;
    border-radius: 8px;
    font-size: 20px;
    border-width: 2px;
}

input.btn_login {
    padding: 4px 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
}

input.btn_login:hover {
    color: white;
    background-color: rgb(0, 97, 161);
    cursor: pointer;
    border-color: white;
}