@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url("../font/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
    /* Resetar modulos de espaçamentos*/
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

/* Variáveis Globais de Estilo (Custom Properties) */
:root {
    --projetil-width: 4px;
}

body#index {
    background-color: #ddd;
    font-family: Tahoma;
}

div#corpo {
    width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 30px #777;
    border-radius: 15px;
}

header {
    text-align: right;
    font-size: 20px;
    margin: 20px;
}

p.p_login {
    text-align: right;
}

a.a_login {
    color: rgb(0, 153, 255);
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}

a.a_login:hover {
    color: rgb(0, 97, 161);
}

a.a_cabecalho {
    color: rgb(0, 0, 0);
    font-style: normal;
    text-decoration: none;
}

a.a_cabecalho:hover {
    color: rgb(0, 97, 161);
}

a.link_jogo {
    color: rgb(0, 153, 255);
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}

a.link_jogo:hover {
    color: rgb(0, 97, 161);
}

h1.titulo_principal {
    margin-bottom: 20px;
}

form.filtros_ordernar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 16px;
    margin: 20px 0;
}

span.titulo_ordernar {
    font-weight: bold;
}

span.texto_ordernar {
    margin: 0;
}

a.link_ordernar {
    color: rgb(0, 0, 0);
    font-style: normal;
    text-decoration: none;
    padding: 2px 8px;
    border-radius: 8px;
}

a.link_ordernar:hover {
    color: rgb(0, 97, 161);
    background-color: rgba(0, 97, 161, 0.1);
}

input.input-text_ordernar {
    padding: 1px 4px;
    border-radius: 8px;
}

input.btn_ordernar {
    padding: 1px 4px;
    border-radius: 8px;
    font-weight: bold;
}

input.btn_ordernar:hover {
    color: white;
    background-color: rgb(0, 97, 161);
    cursor: pointer;
    border-color: white;
}

table.listagem {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.listagem tr {
    height: 50px;
}

table.listagem td {
    /*border: 1px solid #ddd;*/
    padding: 10px;
}

table.listagem tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.listagem td:nth-child(1) {
    width: 50px;
}

table.listagem td:nth-child(3) {
    width: 150px;
    text-align: right;
}

span.icons_admin {
    margin: 0 5px;
    cursor: pointer;
}

div.msg_sucesso {
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(226, 239, 218);
    color: rgb(74, 116, 67);
}

div.msg_aviso {
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(251, 248, 229);
    color: rgb(134, 110, 66);
}

div.msg_erro {
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(239, 223, 222);
    color: rgb(157, 75, 69);
}

img.capa_jogo {
    height: auto;
    width: 80px;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
}

span.icone_voltar {
    color: black;
    cursor: pointer;
}

span.icone_voltar:hover {
    color: rgb(0, 97, 161);
}