@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url("../font/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
    /* Resetar modulos de espaçamentos*/
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

/* Variáveis Globais de Estilo (Custom Properties) */
:root {
    --projetil-width: 4px;
}

body#index {
    background-color: #ddd;
    font-family: Tahoma;
}

#corpo {
    width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 30px #777;
    border-radius: 15px;
}

h1.titulo_principal {
    margin-bottom: 20px;
}

.listagem {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.listagem tr {
    height: 50px;
}

.listagem td {
    border: 1px solid #ddd;
    padding: 10px;
}

.listagem tr:nth-child(even) {
    background-color: #f2f2f2;
}

.listagem td:nth-child(1) {
    width: 50px;
}

.listagem td:nth-child(3) {
    width: 90px;
}

div.msg_sucesso {
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(226, 239, 218);
    color: rgb(74, 116, 67);
}

div.msg_aviso {
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(251, 248, 229);
    color: rgb(134, 110, 66);
}

div.msg_erro {
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(239, 223, 222);
    color: rgb(157, 75, 69);
}

img.capa_jogo {
    height: auto;
    width: 80px;
}

p.p_login {
    text-align: right;
}

a.a_login {
    color: rgb(0, 153, 255);
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}

a.a_login:hover {
    color: rgb(0, 97, 161);
}

a.link_jogo {
    color: rgb(0, 153, 255);
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}

a.link_jogo:hover {
    color: rgb(0, 97, 161);
}

form#busca {
    text-align: right;
    font-size: 15px;
    margin: 20px 0;
}

header {
    text-align: right;
    font-size: 20px;
    margin: 20px;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
}